# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java文件\ssm01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
